@using capstone_project.Models.DTOs.Game
@model GameDTO

@{
    ViewBag.Title = "Modifica Gioco";
    ViewBag.NavbarMarginTop = true;
    ViewBag.HideNavbarMiddle = true;
}

<div class="container myGreyBg2 rounded pb-4 mb-4">
    <h1 class="text-white text-center pt-4">Aggiungi un <span class="text-orange">Gioco</span></h1>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="GameId" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group d-flex flex-column align-items-center mt-2">
                    <label class="control-label text-white mb-1 fs-4" asp-for="Name">Nome</label>
                    <input asp-for="Name" class="w-75" />
                    <span asp-validation-for="Name" class="text-valid"></span>
                </div>



                <div class="form-group d-flex flex-column align-items-center mt-2">
                    <label class="control-label text-white mb-1 fs-4" asp-for="Price">Prezzo</label>
                    <input asp-for="Price" class="w-75" />
                    <span asp-validation-for="Price" class="text-valid"></span>
                </div>



                <div class="form-group d-flex flex-column align-items-center mt-2">
                    <label class="control-label text-white mb-1 fs-4" asp-for="QuantityAvail">Quantità in vendita</label>
                    <input asp-for="QuantityAvail" class="w-75" />
                    <span asp-validation-for="QuantityAvail" class="text-valid"></span>
                </div>
                <div class="form-group d-flex flex-column align-items-center mt-2">
                    <label class="control-label text-white mb-1 fs-4" asp-for="Description">Descrizione</label>
                    <textarea asp-for="Description" class="w-75"></textarea>
                    <span asp-validation-for="Description" class="text-valid"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group d-flex flex-column align-items-center mt-2">
                    <label class="control-label text-white mb-1 fs-4" asp-for="Publisher">Produttore</label>
                    <input asp-for="Publisher" class="w-75" />
                    <span asp-validation-for="Publisher" class="text-valid"></span>
                </div>
                <div class="form-group d-flex flex-column align-items-center mt-2">
                    <label class="control-label text-white mb-1 fs-4" asp-for="ReleaseDate">Data di rilascio</label>
                    <input asp-for="ReleaseDate" type="date" class="w-75" />
                    <span asp-validation-for="ReleaseDate" class="text-valid"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group d-flex flex-column align-items-center mt-2">
                            <label class="control-label text-white mb-1 fs-4" asp-for="PegiId">Classificazione PEGI</label>
                            <select asp-for="PegiId" asp-items="ViewBag.PegiOptions" class="">
                                <option value="" selected disabled>Seleziona PEGI</option>
                            </select>
                            <span asp-validation-for="PegiId" class="text-valid"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group d-flex flex-column align-items-center mt-2">
                            <label class="control-label text-white mb-1 fs-4" asp-for="Platform" class="control-label">Piattaforma</label>
                            <select asp-for="Platform" class="">
                                <option value="Tutte" selected disabled>Seleziona la piattaforma</option>
                                <option value="PC">PC</option>
                                <option value="PlayStation">PlayStation</option>
                                <option value="Xbox">Xbox</option>
                                <option value="Nintendo">Nintendo</option>
                            </select>
                            <span asp-validation-for="Platform" class="text-valid"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group d-flex flex-column align-items-center mt-4">
                    <label class="control-label text-white mb-1 fs-4" for="VideoFile">Carica un Video</label>
                    <input type="file" class="" name="VideoFile" accept="video/*" />
                </div>
            </div>
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-12">
                    <div class="form-group d-flex flex-column align-items-center mt-2">
                        <label class="control-label text-white mb-1 fs-4">Restrizioni</label>
                        <div class="d-flex flex-wrap" id="restrictionsCheckboxes">
                            @if (ViewBag.RestrictionOptions != null)
                            {
                                foreach (var option in ViewBag.RestrictionOptions)
                                {
                                    <div class="form-check">
                                        <input type="checkbox"
                                               class="form-check-input"
                                               id="restriction-@option.Value"
                                               name="RestrictionIds"
                                               value="@option.Value"
                                        @(ViewBag.SelectedRestrictions != null && ViewBag.SelectedRestrictions.Contains(int.Parse(option.Value)) ? "checked" : "") />
                                        <label class="form-check-label text-white" for="restriction-@option.Value">
                                            @option.Text
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                        <span asp-validation-for="RestrictionIds" class="text-valid mt-1"></span>
                    </div>

                </div>
                <div class="col-12">
                    <div class="form-group d-flex flex-column align-items-center mt-2">
                        <label class="control-label text-white mb-1 fs-4">Categorie</label>
                        <div class="d-flex flex-wrap" id="categoriesCheckboxes">
                            @if (ViewBag.CategoryOptions != null)
                            {
                                foreach (var option in ViewBag.CategoryOptions)
                                {
                                    <div class="">
                                        <input type="checkbox"
                                               class="form-check-input"
                                               id="category-@option.Value"
                                               name="CategoryIds"
                                               value="@option.Value"
                                        @(ViewBag.SelectedCategories != null && ViewBag.SelectedCategories.Contains(int.Parse(option.Value)) ? "checked" : "") />
                                        <label class="form-check-label text-white" for="category-@option.Value">
                                            @option.Text
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                        <span asp-validation-for="CategoryIds" class="text-valid mt-1"></span>
                    </div>


                </div>
            </div>
        </div>

        <!-- Section for uploading images -->
        <div id="imageUploadSection">
            <div class="form-group d-flex flex-column align-items-center image-upload-group">
                <label class="control-label text-white mt-4 mb-1 fs-4">Carica Immagine di Copertina</label>
                <input type="file" name="images[0].ImageFile" class="form-control-file" accept=".jpg,.jpeg,.png" />
                <input type="hidden" name="images[0].ImgType" value="Cover" />
                <span asp-validation-for="GameImages" class="text-valid"></span>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="button" id="addImageButton" class="auth-btn2">Aggiungi Immagine</button>
        </div>
        <div class="text-center mt-4">
            <button class="auth-btn mx-2" type="submit">Salva Gioco</button>
            <a class="discard-btn mx-2" asp-action="List">Torna alla lista</a>
        </div>
    </form>


</div>
@section Scripts {
    s
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Function to add a new image input field
        function addImageField() {
            const imageIndex = document.querySelectorAll('.image-upload-group').length;

            const newImageDiv = document.createElement('div');
            newImageDiv.classList.add('form-group', 'image-upload-group', 'form-group', 'd-flex', 'flex-column', 'align-items-center');
            newImageDiv.innerHTML = `
                               <label class="text-white mt-4 mb-1 fs-4">Tipo di Immagine</label>
                                                <select name="images[${imageIndex}].ImgType" class="form-control w-25 mb-2">
                                                    <option value="Screenshot">Screenshot</option>
                                                    <option value="Artwork">Artwork</option>
                                                    <option value="Icon">Icona</option>
                                                    <option value="Logo">Logo</option>
                                                    <option value="Banner">Banner</option>
                                                    <option value="Other">Altro</option>
                                                </select>

                                        <input type="file" name="images[${imageIndex}].ImageFile" class="form-control-file" accept=".jpg,.jpeg,.png" multiple />
                                                <span class="text-danger validation-message"></span>



                                        <button type="button" class="discard-btn fs-6 mt-2 remove-image-button">Rimuovi</button>
                                    `;
            document.getElementById('imageUploadSection').appendChild(newImageDiv);

            // Add remove event to the new remove button
            newImageDiv.querySelector('.remove-image-button').addEventListener('click', function () {
                this.parentElement.remove();
            });
        }

        // Add new input field on button click
        document.getElementById('addImageButton').addEventListener('click', function () {
            addImageField();
        });

        // Attach remove event to existing remove buttons
        document.querySelectorAll('.remove-image-button').forEach(function (button) {
            button.addEventListener('click', function () {
                this.parentElement.remove();
            });
        });
    </script>
}
