@model IEnumerable<capstone_project.Models.Game>

@{
    ViewBag.Title = "Lista Giochi";
    ViewBag.NavbarMarginTop = false;
    ViewBag.Px0 = true;
    var wishlistGameIds = ViewBag.WishlistGameIds as List<int> ?? new List<int>();
    var cartGameIds = ViewBag.CartGameIds as List<int> ?? new List<int>(); // List of games in the cart
    var firstGame = Model.FirstOrDefault();
    var remainingGames = Model.Skip(1);
}

<div class="container-fluid px-0 position-relative">
    <a asp-action="Details" asp-route-id="@firstGame.GameId" class="text-decoration-none">
        @if (firstGame.GameImages != null && firstGame.GameImages.Any())
        {
            var coverImage = firstGame.GameImages.FirstOrDefault(img => img.ImgType == (ImageType)5);
            var base64Image = Convert.ToBase64String(coverImage!.Img);
            var imgSrc = $"data:image/png;base64,{base64Image}";
            <div class="position-relative">
                <img src="@imgSrc" class="img-fluid w-100 firstImg" alt="@firstGame.Name Banner" style="max-height:690px; clip-path: polygon(0% 91%, 100% 100%, 100% 0%, 0% 0%)" />

                <!-- Game Name -->
                <span class="position-absolute text-white fs-2" style="top: 45%; left: 13%">
                    @firstGame.Name
                </span>

                <!-- Badge and Price Container -->
                <div class="d-flex align-items-center position-absolute" style="top: 55%; left: 20%;">
                    <!-- Badge -->
                    <span class="myBadge myOrangeBg ps-3 fs-3 me-2">@firstGame.Platform</span>

                    <!-- Price -->  
                    <span class="text-white ms-2 fw-bold fs-1">
                        @firstGame.Price €
                    </span>
                </div>
            </div>
        }
    </a>
</div>


<div class="container">
    @if (User.IsInRole("master"))
    {
        <a asp-action="Create" class="auth-btn text-white d-inline-block mt-5">Aggiungi Nuovo Gioco</a>
    }
    <div class="row">
        @if (!string.IsNullOrEmpty(ViewBag.SelectedCategory))
        {
            <h1 class="text-white fs-3 mt-3">Categoria: @ViewBag.SelectedCategory</h1>
        }

        @if (!string.IsNullOrEmpty(ViewBag.SelectedPlatform))
        {
            <h1 class="text-white fs-3 mt-3">Piattaforma: @ViewBag.SelectedPlatform</h1>
        }

        @if (string.IsNullOrEmpty(ViewBag.SelectedCategory) && string.IsNullOrEmpty(ViewBag.SelectedPlatform)) // Only show "In tendenza" when no category or platform is selected
        {
            <h1 class="text-white fs-3 mt-3">
                In tendenza
                <i class="bi bi-chevron-right fs-4 text-secondary"></i>
            </h1>
        }


        @foreach (var game in remainingGames)
        {
            <div class="col-md-4 mb-4 mt-4">
                <a asp-action="Details" asp-route-id="@game.GameId" class="text-decoration-none">
                    <div class="game-card border-0 position-relative game-card-container">
                        <!-- Display the cover image -->
                        @if (game.GameImages != null && game.GameImages.Any())
                        {
                            var coverImage = game.GameImages.FirstOrDefault(img => img.ImgType == (ImageType)0);
                            var base64Image = Convert.ToBase64String(coverImage!.Img);
                            var imgSrc = $"data:image/png;base64,{base64Image}";
                            <img src="@imgSrc" class="h-100 w-100 game-card-img" alt="@game.Name Cover" style="height: 200px; object-fit: cover;" />
                        }
                        else
                        {
                            <img src="~/images/predefined/default-profile.jpg" class="card-img-top" alt="Placeholder" style="height: 200px; object-fit: cover;" />
                        }

                        <!-- Show the video on hover -->
                        @if (!string.IsNullOrEmpty(game.VideoPath))
                        {
                            <video class="game-card-video position-absolute" width="100%" height="200" muted autoplay playsinline loop>
                                <source src="@game.VideoPath" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                        }

                        <!-- Badge for Platform -->
                        <span class="myBadge myOrangeBg position-absolute px-1 py-1" style="bottom: -3.5px; left: 0px;">@game.Platform</span>
                        @if (User.IsInRole("master"))
                        {
                            <span class="myBadge myOrangeBg position-absolute px-1 py-1" style="top: -3.5px; left: 0px;">@game.QuantityAvail</span>
                        }
                    </div>
                </a>

                <div class="d-flex justify-content-between align-items-center mt-2">
                    <h5 class="game-card-title text-white">@game.Name</h5>
                    <span class="text-white fw-bold fs-6">@game.Price €</span>
                </div>
            </div>

        }
    </div>
</div>
