@model capstone_project.Models.Restriction

@{
    ViewData["Title"] = "Delete";
    string base64Image = Model.Img != null ? Convert.ToBase64String(Model.Img) : string.Empty;
    string imgSrc = !string.IsNullOrEmpty(base64Image) ? $"data:image/png;base64,{base64Image}" : "";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Restriction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(imgSrc))
            {
                <img src="@imgSrc" alt="Restriction Image" style="max-width:200px; max-height:200px;" />
            }
            else
            {
                <span>No Image Available</span>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RestrictionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
