@model capstone_project.Models.ViewModels.MasterViewModel

@{
    ViewData["Title"] = "Dashboard Admin";
    ViewBag.NavbarMarginTop = true;
    ViewBag.HideNavbarMiddle = true;
}

<div class="container my-4 p-4 myGreyBg2 text-white rounded">
    <h1 class="text-center mb-4 text-orange">Gestione Utenti e Ruoli</h1>

    <h2 class="text-orange mb-4">Gestione Utenti</h2>
    <div asp-validation-summary="All" class="text-valid text-center fs-3"></div>

    <table class="table text-white myGreyBg2 rounded">
        <thead class="myGreyBg2 text-orange">
            <tr>
                <th>Nome utente</th>
                <th>Email</th>
                <th>Ruoli Attuali</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td class="pe-4">
                        <form asp-action="RemoveRoleFromUser" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="userId" value="@user.UserId" />
                            <select name="roleId" class=" form-control-sm d-inline" style="width:40%;">
                                @foreach (var role in user.Roles)
                                {
                                    <option value="@role.RoleId">@role.Name</option>
                                }
                            </select>
                            <button type="submit" class="discard-btn mt-1">Rimuovi Ruolo</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="AddRoleToUser" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="userId" value="@user.UserId" />
                            <select name="roleId" class=" form-control-sm d-inline w-auto">
                                @foreach (var role in Model.Roles)
                                {
                                    <option value="@role.RoleId">@role.Name</option>
                                }
                            </select>
                            <button type="submit" class="auth-btn mt-1">Aggiungi Ruolo</button>
                        </form>
                        <a asp-action="DeleteUser" asp-route-id="@user.UserId" class="discard-btn mt-1">Elimina Utente</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <h2 class="text-orange mb-4 mt-5">Gestione Ruoli</h2>

    <h3 class="text-white">Crea Nuovo Ruolo</h3>
    <form asp-action="CreateRole" method="post" class="mb-4">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="text" class="w-50" id="Name" name="Name"  placeholder="Nome del ruolo">
        </div>
        <button type="submit" class="auth-btn mt-3">Crea Ruolo</button>
    </form>

    <h3 class="text-white mt-4">Ruoli Esistenti</h3>
    <table class="table text-white myGreyBg2 rounded">
        <thead class="myGreyBg2 text-orange">
            <tr>
                <th>Nome del Ruolo</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <form asp-action="UpdateRole" method="post">
                        @Html.AntiForgeryToken()
                    <td>
                        <input type="hidden" asp-for="@role.RoleId" />
                        <input asp-for="@role.Name" class=" " />
                    </td>
                    <td>
                        <input type="submit" value="Aggiorna" class="auth-btn" />
                        <a asp-action="DeleteRole" asp-route-id="@role.RoleId" class="discard-btn">Elimina</a>
                    </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
